Fall 2023/Microwave Engineering/Project/MEProject.aedtresults/
Fall 2023/coil/
Fall 2023/Electronics I/Microelectronics.pdf
$RECYCLE.BIN/
USB Drive Project/
System Volume Information/
~*
Spring 2024/RF Active Circuits/Lab/Lab4/Lab4_wrk/data/
\Spring 2024\Antenna Design & Analysis\ProjectB\HFSS\Patch_Microstrip.aedtresults